<%= form_for(@request) do |f| %>
  <% if @request.errors.any? %>
    <div class="bg-danger form-group">
      <strong>Uh oh!</strong>

      <ul>
      <% @request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group <%= @request.error_class(:reddit_username) %>">
    <%= f.label :reddit_username, class: 'control-label' %>
    <%= f.text_field :reddit_username, class: 'form-control', placeholder: 'required' %>
  </div>
  <div class="form-group <%= @request.error_class(:minecraft_username) %>">
    <%= f.label :minecraft_username, class: 'control-label' %>
    <%= f.text_field :minecraft_username, class: 'form-control', placeholder: 'required' %>
  </div>
  <div class="form-group <%= @request.error_class(:comment) %>">
    <%= f.label :comment, "Anything to add?", class: 'control-label' %>
    <%= f.text_area :comment, class: 'form-control' %>
  </div>
  <button type="submit" class="btn btn-primary">Submit request</button>
<% end %>
