<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-right">
      <li>
        <%= link_to "Logout", destroy_user_session_path, method: "delete" %>
      </li>
    </ul>
  </div>
</nav>

<table class="table">
  <thead>
    <tr>
      <th>Reddit username</th>
      <th>Minecraft username</th>
      <th>Status</th>
      <th>Comment</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td><%= request.reddit_username %></td>
        <td><%= request.minecraft_username %></td>
        <td><%= request.status %></td>
        <td><%= request.comment %></td>
        <td>
          <%= button_to 'Added!', request_add_path(request), class: 'btn btn-xs btn-success' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
